.App {
  text-align: left;
 
}


.App-logo {
  height: 20vmin;
  pointer-events: none;
  justify-content: left; /* Center align images horizontally */
  align-items: center; /* Center align images vertically */
  top: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 */


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.image-row {
  display: flex;
  justify-content: left; /* Center align images horizontally */
  align-items: center; /* Center align images vertically */
  gap: 0px; /* Add space between images */
}

.App-body {
  display: flex;
  background-color: RGB(86, 150, 205);
  height: 100vhpx;
  padding: 0%;
  width: 100vw;
  position: sticky;
  top: 0;
}

.marquee {
  background-color: #d0d6e6;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100vw;
  top: 0;
  color: rgb(7, 7, 7);
  text-decoration: solid;
}

.marquee-inner {
  display: inline-block;
  padding-left: 100%; /* Start the text outside the visible area */
  animation: marquee 20s linear infinite; /* Adjust the duration as needed */
}

@keyframes marquee {
  0% {
    transform: translateX(10%); /* Start from the right */
  }
  100% {
    transform: translateX(-80%); /* Move to the left */
  }
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.sidebar {
  width: 180px; /* Adjust the width as needed */
  height: 100vh; /* Full height of the viewport */
  background-color: #619afb; /* Background color of the sidebar */
  color: white; /* Text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.sidebar-item {
  width: 100%; /* Full width of the sidebar */
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid #145; /* Divider between items */
}

.sidebar-item:hover {
  background-color: #455; /* Hover effect */
}


.main-content {
  /* flex-grow: 1; This makes the main content take up the remaining space */
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  min-height: 100vh; /* Ensure the app takes at least the full viewport height */
  margin-left: 00px;
}





.App-footer {
  background-color: RGB(46, 180, 195);
  color: white;
  text-align: center;
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}