@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body{
    background-color: rgb(179, 238, 238);
    height: auto;
    width: auto;
}
.header{
    background-color: rgb(12, 121, 121);

} */
